*{
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
header{
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px;
    position: fixed;
    display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-decoration: none;

}
span{
    color: chocolate;
    text-transform: capitalize;
}
.entete{
    position: relative;
    display: flex;
  
}
.entete li{
    list-style: none;
    
}
.entete li a{
    text-decoration: none;
   margin-left: 30px;
   font-weight: 600;
   color: white;
   text-transform: capitalize;
}

.entete li a:hover{
color: chocolate;
border-bottom: 2px solid chocolate;
}
.entete li a.reserve{
   padding: 10px 30px;
   background: yellowgreen;
   text-transform: uppercase;
}
.entete.reserve:hover{
   /*letter-spacing: 2px;*/
   border: 1px solid gray;
   transition: ease-out;
}
.baniere{
    background-image: url(./image/IMG-20220624-WA0015.jpg);
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: cover;
}
.contenu{
    max-width: 70%;
    text-align: center;
}
h1{
    color: white;
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;
}
p{
    color: white;
    font-size: 1.2rem;
    text-align: center;
}
.btn1{
   font-size: 1em;
   color: white;
   padding: 10px 20px;
   background: chocolate;
   margin-top: 20px;
   display: inline-block;
   margin-left: 100px;
   text-decoration: none;
   transition: 0.5;
   font-weight: 400;
   text-transform: uppercase;

}
.btn2{
    font-size: 1em;
    font-weight: 400;
   text-transform: uppercase;
    color: white;
    padding: 10px 20px;
    background: blue;
    margin-top: 20px;
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    transition: 0.5;
    
 
 }
 .btn1.btn1:hover{
    letter-spacing: 0.5em;
 }
 .btn2.btn2:hover{
    letter-spacing: 0.5em;
 }
 section{
    padding: 100px;
 }
 
 
 .row{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
 }
 .col50{
    justify-content: center;
    align-items: center;
    width: 48%;
    position: relative;
 }
 .row .col50 h1{
    margin-bottom: 30px;
 }
 .titre-texte{
    font-size: 2em;
    font-weight: 300px;
    color: black;
    text-transform: capitalize;
   
 }
 .para {
   color: black;
  background: white;
  max-width: 90%;
  font-size: 1.3em;
  justify-content: center;
  align-items: center;
 }
 

 
 .titre-texte span{
    color: chocolate;
    font-size: 1.5em;
    font-weight: 700px;
 }
 img{
    position: relative;
    height: 480px;
    width: 600px;
 }
 .titre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: chocolate;
    text-transform: uppercase;
 }
 .appartement{
    margin-top: -100px;
 }

 .appartement .compteur{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

 }
 .appartement .compteur .box{
    width: 300px;
    border: 20px solid white;
    margin: 20px;
    box-shadow: 20px 15px 35px rgba(0, 0, 0, 0.8);
    
 }
 .appartement .compteur .box .imbox{
    position: relative;
 }
 .appartement .compteur .box img{
    top: 0%;
    left: 0%;
    object-fit: cover;
    width: 100%;
    height: 300px;
    position: relative;
 }
 .voir{
   display: flex;
   position: relative;
   width: 100%;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
 }
 .plus{
    padding: 15px 20px;
    background: chocolate;
    color: white;
   text-transform: uppercase;
   font-weight: 400;
   text-decoration: none;
   
  
 }
 .expert{
    margin-top: -100px;
 }
 .expert .compteur{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
 }
 .expert .compteur .box{
    width: 300px;
    margin: 20px;
    box-shadow: 15px  20px 35px rgba(0, 0, 0, 0.8);
    border: 20px solid white;
 }
 .expert .compteur .box .imbox{
   position: relative;
 }
 .expert .compteur .box img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    top: 0%;
    left: 0%;
    position: relative;
 }
 .expert .compteur .box .titre{
    color: chocolate;
    font-weight: 400;
    text-align: center;
 }
 .temoignage{
   background-image: url(./image/walter-martin-5dozVzA-yHo-unsplash.jpg);
   background-size: cover;
 }
 .temoignage .compteur{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   width: 100%;
   margin-top: 40px;
   justify-content: center;
   align-items: center;
 }
 .temoignage .compteur .box{
   width: 300px;
   margin: 20px;
   justify-content: center;
   align-items: center;
   border-radius: 15px;
   flex-direction: column;
   display: flex;
   background: white;
 }
 .temoignage .compteur .box .imbox{
   width: 80px;
   height: 80px;
   border-radius: 50px;
   margin-bottom: 20px;
   position: relative;
   overflow: hidden;
 }
 .temoignage .compteur .box .imbox img{
   position: relative;
   height: 100%;
   width: 100%;
   object-fit: cover;
   top: 0%;
   left: 0%;
   justify-content: center;
   align-items: center;
 }
 .temoignage .compteur .box .titre{
   text-align: center;
   color: gray;
   font-style: italic;

 }
 .temoignage .compteur .box .titre h2{
   color: chocolate;
   font-size: 1rem;
   font-weight: 600;
   margin-top: 20px;
   text-transform: uppercase;

 }
 .client{
   color: gray;
   background: white;
   text-align: center;
   text-transform: none;
 }
 .contact{
   background-image: url(./image/hossein-nasr-YQH0JeZCHa4-unsplash.jpg);
   background-size: cover;
   width: 100%;
   box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
   background-position: unset;
 }
 .contactfrom{
   padding: 75px 50px;
   background: white;
   box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.8);
   max-width: 500px;
   margin-top: 50px;
   justify-content: center;
   align-items: center;
   margin-left: 32%;
 }
 .contactfrom .inputboite{
   position: relative;
   width: 100%;
   margin-bottom: 20px;
 }
 .contactfrom h3{
   color: chocolate;
   font-size: 1.2em;
   margin-bottom: 20px;
}
.contactfrom .inputboite input,
.contactfrom .inputboite textarea{
   width: 100%;
   padding: 10px;
   border: 1px solid gray;
   color: black;
   outline: none;
   font-size: 16px;
   font-weight: 300;
   resize: none;

}
.contactfrom .inputboite input[type="submit"]{
   font-size: 1em;
   font-weight: 700;
   display: inline-block;
   background: chocolate;
   color: white;
   text-transform: uppercase;
   cursor: pointer;
   text-decoration: none;
   letter-spacing: 2px;
   border: none;
   transition: 0.5s;
   outline: none;
   max-width: 120px;
   justify-content: center;
   align-items: center;

}
.copyright{
   padding: 20px 40px;
   border-top: 2px solid rgba(0, 0, 0, 0.1);
   background: rgba(228, 222, 222,);
   text-align: center;
}
.copyright p:nth-child(1){
   color: gray;
}
.copyright a{
   color: chocolate;
   font-weight: 600;
   text-decoration: none;
   font-style: italic;
   text-transform: uppercase;
}
header.sticky{
   background: white;
   padding: 10px 10px;
   box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}
header.sticky .logo{
   color: black;
}
header.sticky .entete li a {
   color: blue;
} 
header.sticky li a:hover{
   color: red;
   border-bottom: 2px solid red;
}
.ultra{
   color: black;
   background: white;
   font-size: 1.2rem;
}

@media (max-width: 991px) {
   section {
      padding: 0px;
  }
  h1 {
   font-size: 1.5rem;
  }
  .contenu {
   max-width: 100%;
   text-align: center;
}
.btn1 {
  margin-left: 0px;

}
.row {
   flex-direction: column;
}
.col50 {
   width: 100%;
}
img {
   position: relative;
   /* height: 480px; */
   /* width: 600px; */
   width: 100%;
   margin: auto;
}
* {
   font-family: 'poppins', sans-serif;
   scroll-behavior: smooth;
   box-sizing: border-box;
   /* padding: 0%; */
   /* margin: 0%; */
   width: 100%;
   margin: auto;
}
.btn1 {
   
   padding: 10px 20px;
   background: chocolate;
   letter-spacing: 1px;
   margin: auto;
}
p {
   margin-bottom: 20px;
}
.btn1 {
   padding: 10px 20px;
   background: chocolate;
   letter-spacing: 1px;
   margin: auto;
   font-size: 1.5rem;
}
.btn2 {
   font-size: 1.5rem;
   color: white;
   padding: 10px 20px;
   background: blue;
   /* margin-top: 20px; */
   display: inline-block;
   text-decoration: none;
   transition: 0.5;
   margin-left: auto;
   text-transform: uppercase;
}
.appartement .compteur .box {
   width: 100%;
   border: 10px solid white;
   margin: auto;
   box-shadow: 20px 15px 35px rgba(0, 0, 0, 0.8);
}
* {
   font-family: 'poppins', sans-serif;
   scroll-behavior: smooth;
   box-sizing: border-box;
}
.appartement {
   margin-top: 0px;
}
.appartement .compteur {
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
   margin-top: 30px;
}
.expert {
   margin-top: 20px;
}
.expert .compteur .box {
   align-items: center;
   text-align: center;
   width: 100%;
   margin: auto;
   justify-content: center;
}
.voir {
   display: flex;
   position: relative;
   width: 100%;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   text-align: center;
}
.appartement .compteur .box {
   width: 100%;
   text-align: center;
   border: 10px solid white;
   margin: auto;
   box-shadow: 20px 15px 35px rgba(0, 0, 0, 0.8);
}
.expert .compteur {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
section {
   padding: 0px;
   margin-bottom: 20px;
}
.contactfrom {
   padding: 75px 50px;
   background: white;
   box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.8);
   /* max-width: 500px; */
   margin-top: 50px;
   justify-content: center;
   align-items: center;
   /* margin-left: 32%; */
   margin: auto;
}
h1 {
   color: black;
   font-size: 2rem;
}
p {
   color: currentcolor;
   font-size: 1.5rem;
   text-align: center;
}
.para {
   color: black;
   background: white;
   max-width: 90%;
   font-size: 1.5rem;
   justify-content: center;
   align-items: center;
}
.ultra {
   color: black;
   background: white;
   font-size: 1.5rem;
}
p {
   color: currentcolor;
   font-size: 1.2rem;
   text-align: center;
}
.btn1.btn1:hover{
   letter-spacing: 0.2em;
}
.btn2.btn2:hover{
   letter-spacing: 0.2em;
}
header, header.sticky{
   padding: 10px 20px;
}
header .entete li{
   margin-left: 0px;
}
header .entete li a{
   text-decoration: none;
   color: black;
   font-size: 1.6rem;
   font-weight: 300;
}
.entete{
   display: none;
}
section{
   padding: 20px;
}
.baniere .contenu h1{
   font-size: 2em;
}
.contenu p:nth-child(2){
   font-size: 1.2em;
}
.expert{
   margin-top: 0px;
}
.menu{
   margin-top: 0px;
}
/*.row{
   display: flex;
   flex-direction: column;
}*/
.temoignage h1{
   font-size: 2em;
   text-align: center;
}

header .entete.active {
   top:68px;
   left: 0px;
   width: 100%;
   /*padding: 20px;*/
   position: fixed;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   background: white;
   height: calc(100% -68px);
   text-align: center;
   font-size: 1.2rem;
}
.menutoggle{
   position: relative;
   height: 40px;
   width: 40px;
   background-image: url(./image/bx-menu.svg);
   background-repeat: no-repeat;
   cursor: pointer;
   background-size: 50px;
   background-color: white;
   background-position: center;

}
.menutoggle:hover{
   color: chocolate;
   margin-bottom: 2rem;
}
.menutoggle.active{
   background-image: url(./image/bx-x.svg);
   background-position: center;
   background-size: 50px;
   background-repeat: no-repeat;
   background-color: white;
}
header.sticky .menutoggle{
   filter: invert(1);
}
.entete li a.reserve {
   padding: 0px 0px;
   background: yellowgreen;
   text-transform: uppercase;
}
.logo {
   font-size: 1.6rem;
   font-weight: 800;
   color: white;
   text-decoration: none;
}



}


   
 